In [7]:
import pandas as pd
import numpy as np

In [46]:
data = pd.read_json('Data/frames.json')
data.head()

,user_id,turns,wizard_id,id,labels
0,U22HTHYNP,[{'text': 'I'd like to book a trip to Atlantis...,U21DKG18C,e2c0fc6c-2134-4891-8353-ef16d8412c9a,"{'userSurveyRating': 4.0, 'wizardSurveyTaskSuc..."
1,U21E41CQP,"[{'text': 'Hello, I am looking to book a vacat...",U21DMV0KA,4a3bfa39-2c22-42c8-8694-32b4e34415e9,"{'userSurveyRating': 3.0, 'wizardSurveyTaskSuc..."
2,U21RP4FCY,[{'text': 'Hello there i am looking to go on a...,U21E0179B,6e67ed28-e94c-4fab-96b6-68569a92682f,"{'userSurveyRating': 2.0, 'wizardSurveyTaskSuc..."
3,U22HTHYNP,[{'text': 'Hi I'd like to go to Caprica from B...,U21DKG18C,5ae76e50-5b48-4166-9f6d-67aaabd7bcaa,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."
4,U21E41CQP,"[{'text': 'Hello, I am looking to book a trip ...",U21DMV0KA,24603086-bb53-431e-a0d8-1dcc63518ba9,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."

In [47]:
pd.json_normalize(data['labels'])

      userSurveyRating  wizardSurveyTaskSuccessful
0                  4.0                        True
1                  3.0                        True
2                  2.0                       False
3                  5.0                        True
4                  5.0                        True
...                ...                         ...
1364               3.5                        True
1365               4.5                        True
1366               5.0                        True
1367               4.0                        True
1368               5.0                        True

[1369 rows x 2 columns]

In [48]:
data.shape

(1369, 5)

In [49]:
df = data.drop(columns='labels').merge(pd.json_normalize(data['labels']), how='inner', left_index=True, right_index=True)
df

,user_id,turns,wizard_id,id,userSurveyRating,wizardSurveyTaskSuccessful
0,U22HTHYNP,[{'text': 'I'd like to book a trip to Atlantis...,U21DKG18C,e2c0fc6c-2134-4891-8353-ef16d8412c9a,4.0,True
1,U21E41CQP,"[{'text': 'Hello, I am looking to book a vacat...",U21DMV0KA,4a3bfa39-2c22-42c8-8694-32b4e34415e9,3.0,True
2,U21RP4FCY,[{'text': 'Hello there i am looking to go on a...,U21E0179B,6e67ed28-e94c-4fab-96b6-68569a92682f,2.0,False
3,U22HTHYNP,[{'text': 'Hi I'd like to go to Caprica from B...,U21DKG18C,5ae76e50-5b48-4166-9f6d-67aaabd7bcaa,5.0,True
4,U21E41CQP,"[{'text': 'Hello, I am looking to book a trip ...",U21DMV0KA,24603086-bb53-431e-a0d8-1dcc63518ba9,5.0,True
...,...,...,...,...,...,...
1364,U2AMZ8TLK,[{'text': 'Hi I've got 9 days free and I'm loo...,U21DMV0KA,957fd205-bb7c-4b81-8cb6-13c81c51c5c9,3.5,True
1365,U2AMZ8TLK,[{'text': 'I need to get to Fortaleza on Septe...,U260BGVS6,71b21b86-2d05-4372-a0ee-6ed64b0ddc42,4.5,True
1366,U231PNNA3,[{'text': 'We're finally going on vacation isn...,U21T9NMKM,ef2cd70e-c1f2-42be-8839-cb465af0bf41,5.0,True
1367,U2AMZ8TLK,"[{'text': 'Hi there, I'm looking for a place t...",U21DMV0KA,ffa79d2c-14eb-45e6-8573-b0817a1a1803,4.0,True
1368,U2AMZ8TLK,[{'text': 'I need to book a trip for the whole...,U260BGVS6,0d364be2-9f43-4f5a-8506-1af4523515ba,5.0,True

In [50]:
good_labels = df.loc[(df.userSurveyRating > 2) & (df.wizardSurveyTaskSuccessful==True)]

good_labels

,user_id,turns,wizard_id,id,userSurveyRating,wizardSurveyTaskSuccessful
0,U22HTHYNP,[{'text': 'I'd like to book a trip to Atlantis...,U21DKG18C,e2c0fc6c-2134-4891-8353-ef16d8412c9a,4.0,True
1,U21E41CQP,"[{'text': 'Hello, I am looking to book a vacat...",U21DMV0KA,4a3bfa39-2c22-42c8-8694-32b4e34415e9,3.0,True
3,U22HTHYNP,[{'text': 'Hi I'd like to go to Caprica from B...,U21DKG18C,5ae76e50-5b48-4166-9f6d-67aaabd7bcaa,5.0,True
4,U21E41CQP,"[{'text': 'Hello, I am looking to book a trip ...",U21DMV0KA,24603086-bb53-431e-a0d8-1dcc63518ba9,5.0,True
5,U21RP4FCY,"[{'text': 'Hey, i Want to go to St. Louis on t...",U21E0179B,bbd17a54-bc6c-4237-8f72-4778081fab0c,3.0,True
...,...,...,...,...,...,...
1364,U2AMZ8TLK,[{'text': 'Hi I've got 9 days free and I'm loo...,U21DMV0KA,957fd205-bb7c-4b81-8cb6-13c81c51c5c9,3.5,True
1365,U2AMZ8TLK,[{'text': 'I need to get to Fortaleza on Septe...,U260BGVS6,71b21b86-2d05-4372-a0ee-6ed64b0ddc42,4.5,True
1366,U231PNNA3,[{'text': 'We're finally going on vacation isn...,U21T9NMKM,ef2cd70e-c1f2-42be-8839-cb465af0bf41,5.0,True
1367,U2AMZ8TLK,"[{'text': 'Hi there, I'm looking for a place t...",U21DMV0KA,ffa79d2c-14eb-45e6-8573-b0817a1a1803,4.0,True
1368,U2AMZ8TLK,[{'text': 'I need to book a trip for the whole...,U260BGVS6,0d364be2-9f43-4f5a-8506-1af4523515ba,5.0,True

In [51]:
turns = pd.merge(good_labels['id'], pd.json_normalize(good_labels.turns), how='inner', left_index=True, right_index=True)

turns.set_index('id', inplace=True)

turns = pd.DataFrame(turns.stack())

turns.columns=['turn']

turns

                                                                                      turn
id
e2c0fc6c-2134-4891-8353-ef16d8412c9a 0   {'text': 'I'd like to book a trip to Atlantis ...
                                     1   {'text': 'Hi...I checked a few options for you...
                                     2   {'text': 'Yes, how about going to Neverland fr...
                                     3   {'text': 'I checked the availability for this ...
                                     4   {'text': 'I have no flexibility for dates... b...
...                                                                                    ...
e3d95337-29de-47df-bc1a-ab2aee8f64ff 7   {'text': 'Yup it's from the 12th to the 25th, ...
                                     8   {'text': 'Ok perfect, book me!', 'author': 'us...
                                     9   {'text': 'Consider it done! Have a good trip :...
                                     10  {'text': 'Thanks!', 'author': 'user', 'timesta...
                                     11  {'text': 'My pleasure!', 'author': 'wizard', '...

[16667 rows x 1 columns]

In [52]:
turns = pd.json_normalize(turns.turn)

turns

,text,author,timestamp,labels.acts,labels.acts_without_refs,labels.active_frame,labels.frames,db.result,db.search
0,I'd like to book a trip to Atlantis from Capri...,user,1.471272e+12,"[{'args': [{'val': 'book', 'key': 'intent'}], ...","[{'args': [{'val': 'book', 'key': 'intent'}], ...",1,"[{'info': {'intent': [{'val': 'book', 'negated...",NaN,NaN
1,"Hi...I checked a few options for you, and unfo...",wizard,1.471272e+12,"[{'args': [{'val': [{'annotations': [], 'frame...",NaN,1,"[{'info': {'intent': [{'val': 'book', 'negated...",[[{'trip': {'returning': {'duration': {'hours'...,"[{'ORIGIN_CITY': 'Porto Alegre', 'PRICE_MIN': ..."
2,"Yes, how about going to Neverland from Caprica...",user,1.471273e+12,"[{'args': [{'val': 'Neverland', 'key': 'dst_ci...","[{'args': [{'val': 'Neverland', 'key': 'dst_ci...",2,"[{'info': {'intent': [{'val': 'book', 'negated...",NaN,NaN
3,I checked the availability for this date and t...,wizard,1.471273e+12,[{'args': [{'val': [{'annotations': [{'val': N...,NaN,2,"[{'info': {'intent': [{'val': 'book', 'negated...","[[], [], [], [], [], []]","[{'ORIGIN_CITY': 'Caprica', 'PRICE_MIN': '1700..."
4,I have no flexibility for dates... but I can l...,user,1.471273e+12,"[{'args': [{'val': False, 'key': 'flex'}], 'na...","[{'args': [{'val': False, 'key': 'flex'}], 'na...",3,"[{'info': {'intent': [{'val': 'book', 'negated...",NaN,NaN
...,...,...,...,...,...,...,...,...,...
16662,"Yup it's from the 12th to the 25th, and it wil...",wizard,1.473718e+12,"[{'args': [{'val': '12th', 'key': 'str_date'},...",NaN,2,"[{'info': {'intent': [{'val': 'book', 'negated...",[],[]
16663,"Ok perfect, book me!",user,1.473718e+12,"[{'args': [{'val': 'book', 'key': 'intent'}], ...","[{'args': [{'val': 'book', 'key': 'intent'}], ...",2,"[{'info': {'intent': [{'val': 'book', 'negated...",NaN,NaN
16664,Consider it done! Have a good trip :slightly_s...,wizard,1.473718e+12,"[{'args': [{'val': 'book', 'key': 'action'}], ...",NaN,2,"[{'info': {'intent': [{'val': 'book', 'negated...",[],[]
16665,Thanks!,user,1.473718e+12,"[{'args': [], 'name': 'thankyou'}]","[{'args': [], 'name': 'thankyou'}]",2,"[{'info': {'intent': [{'val': 'book', 'negated...",NaN,NaN
16666,My pleasure!,wizard,1.473718e+12,"[{'args': [], 'name': 'you_are_welcome'}]",NaN,2,"[{'info': {'intent': [{'val': 'book', 'negated...",[],[]

In [53]:
turns = turns.loc[turns.author == 'user'].copy()

turns.drop(columns=['author','timestamp','labels.active_frame',
                    'db.result','db.search','labels.acts','labels.frames'], inplace=True)

turns.columns = ['text','labels']

turns

,text,labels
0,I'd like to book a trip to Atlantis from Capri...,"[{'args': [{'val': 'book', 'key': 'intent'}], ..."
2,"Yes, how about going to Neverland from Caprica...","[{'args': [{'val': 'Neverland', 'key': 'dst_ci..."
4,I have no flexibility for dates... but I can l...,"[{'args': [{'val': False, 'key': 'flex'}], 'na..."
6,I suppose I'll speak with my husband to see if...,"[{'args': [], 'name': 'thankyou'}]"
7,"Hello, I am looking to book a vacation from Go...","[{'args': [{'val': 'book', 'key': 'intent'}], ..."
...,...,...
16657,"5 adults and 7 kids! Yup, the lot of us. We wa...","[{'args': [{'val': '5', 'key': 'n_adults'}, {'..."
16659,Oh yes! Between September 12 and 26!,"[{'args': [{'val': 'September 12', 'key': 'str..."
16661,"That sounds amazing, and it's within those dat...","[{'args': [{'val': None, 'key': 'str_date'}, {..."
16663,"Ok perfect, book me!","[{'args': [{'val': 'book', 'key': 'intent'}], ..."
16665,Thanks!,"[{'args': [], 'name': 'thankyou'}]"

In [54]:
keys=[]
for index, row in turns.iterrows():
    for i in range(len(row['labels'])):
        if not len(row['labels'][i]['args'])==0:
            keys.append(pd.json_normalize(row['labels'][i]['args']).key.to_list())
keys = list(np.concatenate(keys))

np.unique(keys)

array(['action', 'airport', 'amenities', 'arr_time_dst', 'arr_time_or',
       'beach', 'breakfast', 'budget', 'budget_ok', 'category',
       'cathedral', 'count', 'count_dst_city', 'count_name', 'count_seat',
       'dep_time_dst', 'dep_time_or', 'downtown', 'dst_city', 'duration',
       'end_date', 'flex', 'gst_rating', 'impl_anaphora', 'intent',
       'intent_ok', 'mall', 'market', 'max_duration', 'min_duration',
       'museum', 'n_adults', 'n_adults_ok', 'n_children', 'name',
       'or_city', 'palace', 'park', 'parking', 'price', 'ref_anaphora',
       'seat', 'seat_ok', 'shopping', 'spa', 'str_date', 'university',
       'vicinity', 'wifi'], dtype='<U14')

In [9]:
relevant_entities = ['budget','dst_city','or_city','str_date','end_date']

In [56]:
names=[]
for index, row in turns.iterrows():
    for i in range(len(row['labels'])):
        if not len(row['labels'][i]['name'])==0:
            names.append(row['labels'][i]['name'])


np.unique(names)

array(['affirm', 'confirm', 'goodbye', 'greeting', 'inform', 'moreinfo',
       'negate', 'request', 'request_alts', 'request_compare',
       'switch_frame', 'thankyou'], dtype='<U15')

In [93]:
import re
def generate_utterances(df: pd.DataFrame):
    utterances = []
    for index, row in df.iterrows():
        #Replacing dollars with euros to prevent matching errors
        t = row['text'].replace("$", "â‚¬").lower()
        entities = []
        for i in range(len(row['labels'])):
            if not len(row['labels'][i]['args'])==0:
                if not row['labels'][i]['name'] == 'negate':
                    x = pd.json_normalize(row['labels'][i]['args'])
                    for ix, r in x.iterrows():
                        if np.isin(r['key'], relevant_entities):
                            #-1 signified flexiblity, but LUIS is not able to process that
                            if (r['val'] is not None) & (r['val'] != "-1"):
                                #Replacing dollar signs with euros and using lowercase
                                m = next((x for x in re.finditer(r'%s'%(r['val'].replace("$","â‚¬").lower()), t)),None)
                                if m:
                                    span = m.span()
                                    entities.append({'category': r['key'], 'offset': span[0], 'length': span[1]-span[0]})
                                else:
                                    print('No valid match for text : ')
                                    print(t)
                                    print('And parameters : ')
                                    print('Category : {}, value: {}'.format(r['key'], r['val']))
                                    
    #             else: 
    #                 x = pd.json_normalize(row['labels'][i]['args'])
    #                 for ix, r in x.iterrows():
    #                     if np.isin(r['key'], relevant_entities):
    #                         m = next((x for x in re.finditer(r'%s'%(r['val']), t)),None)
    #                         if len(m) > 0:
    #                             span = m.span()
    #                             entities.append({'category': r['key'], 'offset': 'DELETE', 'length': 'DELETE'})
        if len(entities)==0:
            utterances.append({'intent': 'None',
                               'language': 'en-us',
                               'text': t,
                               'entities':[]
                              })
        else:
            utterances.append({'intent': 'BookFlight',
                               'language': 'en-us',
                               'text': t,
                               'entities': entities
                              })
    return utterances

In [154]:
import re
def generate_test_utterances(df: pd.DataFrame):
    utterances = []
    for index, row in df.iterrows():
        #Replacing dollars with euros to prevent matching errors
        t = row['text'].replace("$", "â‚¬").lower()
        entities = []
        for i in range(len(row['labels'])):
            if not len(row['labels'][i]['args'])==0:
                if not row['labels'][i]['name'] == 'negate':
                    x = pd.json_normalize(row['labels'][i]['args'])
                    for ix, r in x.iterrows():
                        if np.isin(r['key'], relevant_entities):
                            #-1 signified flexiblity, but LUIS is not able to process that
                            if (r['val'] is not None) & (r['val'] != "-1"):
                                #Replacing dollar signs with euros and using lowercase
                                m = next((x for x in re.finditer(r'%s'%(r['val'].replace("$","â‚¬").lower()), t)),None)
                                if m:
                                    span = m.span()
                                    entities.append({'entity': r['key'], 'startPos': span[0], 'endPos': span[1]})
                                else:
                                    print('No valid match for text : ')
                                    print(t)
                                    print('And parameters : ')
                                    print('Category : {}, value: {}'.format(r['key'], r['val']))
                                    
    #             else: 
    #                 x = pd.json_normalize(row['labels'][i]['args'])
    #                 for ix, r in x.iterrows():
    #                     if np.isin(r['key'], relevant_entities):
    #                         m = next((x for x in re.finditer(r'%s'%(r['val']), t)),None)
    #                         if len(m) > 0:
    #                             span = m.span()
    #                             entities.append({'category': r['key'], 'offset': 'DELETE', 'length': 'DELETE'})
        if len(entities)==0:
            utterances.append({'intent': 'None',
                               'text': t,
                               'entities':[]
                              })
        else:
            utterances.append({'intent': 'BookFlight',
                               'text': t,
                               'entities': entities
                              })
    return utterances

In [94]:
import re
def generate_luis_utterances(df: pd.DataFrame):
    utterances = []
    for index, row in df.iterrows():
        #Replacing dollars with euros to prevent matching errors and turning the text to lowercase
        t = row['text'].replace("$","â‚¬").lower()
        entities = []
        for i in range(len(row['labels'])):
            if not len(row['labels'][i]['args'])==0:
                if not row['labels'][i]['name'] == 'negate':
                    x = pd.json_normalize(row['labels'][i]['args'])
                    for ix, r in x.iterrows():
                        if np.isin(r['key'], relevant_entities):
                            if (r['val'] is not None) & (r['val'] != "-1"):
                                #Replacing dollar signs with euros and using lowercase
                                m = next((x for x in re.finditer(r'%s'%(r['val'].replace("$","â‚¬").lower()), t)),None)
                                if m:
                                    span = m.span()
                                    entities.append({'entityName': r['key'], 'startCharIndex': span[0], 'endCharIndex': span[1]})
                                else:
                                    print('No valid match for text : ')
                                    print(t)
                                    print('And parameters : ')
                                    print('Category : {}, value: {}'.format(r['key'], r['val']))
    #             else: 
    #                 x = pd.json_normalize(row['labels'][i]['args'])
    #                 for ix, r in x.iterrows():
    #                     if np.isin(r['key'], relevant_entities):
    #                         m = next((x for x in re.finditer(r'%s'%(r['val']), t)),None)
    #                         if len(m) > 0:
    #                             span = m.span()
    #                             entities.append({'category': r['key'], 'offset': 'DELETE', 'length': 'DELETE'})
        if len(entities)==0:
            utterances.append({'intentName': 'None',
                               'text': t,
                               'entityLabels':[]
                              })
        else:
            utterances.append({'intentName': 'BookFlight',
                               'text': t,
                               'entityLabels': entities
                              })
    return utterances

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(turns, test_size=0.2, random_state=5420, shuffle=True)

print(X_train.shape, X_test.shape)

(6940, 2) (1736, 2)

In [98]:
full_utterances = generate_luis_utterances(turns)
#train_utterances = generate_utterances(X_train)
# test_utterances = generate_utterances(X_test)

train_luis_utterances = generate_luis_utterances(X_train)
test_luis_utterances = generate_luis_utterances(X_test)

train_luis_utterances[0:5]

[{'intentName': 'BookFlight',
  'text': 'ok. lets book the hotel in fukuoka',
  'entityLabels': [{'entityName': 'dst_city',
    'startCharIndex': 27,
    'endCharIndex': 34}]},
 {'intentName': 'BookFlight',
  'text': 'hey... i need to get out of jerusalem ok\nlike now\nlike now as in yesterday\n3200 max - can you get me to valencia?',
  'entityLabels': [{'entityName': 'or_city',
    'startCharIndex': 28,
    'endCharIndex': 37},
   {'entityName': 'str_date', 'startCharIndex': 65, 'endCharIndex': 74},
   {'entityName': 'budget', 'startCharIndex': 75, 'endCharIndex': 79},
   {'entityName': 'dst_city', 'startCharIndex': 104, 'endCharIndex': 112}]},
 {'intentName': 'None',
  'text': "hey there, i'm excited to book a trip somewhere for me and my colleagues.",
  'entityLabels': []},
 {'intentName': 'None', 'text': 'when does it leave', 'entityLabels': []},
 {'intentName': 'None',
  'text': 'no. you know what, itâ€™s fine, iâ€™ll just look somewhere else or take my vacations days another time if i cant find a trip. thanks anyway.',
  'entityLabels': []}]

In [99]:
#Removing duplicate utterances which aren't allowed
train_utterances = pd.DataFrame(train_utterances)
train_utterances = train_utterances.loc[~train_utterances.text.duplicated(keep='first')]
test_utterances = pd.DataFrame(test_utterances)
test_utterances = test_utterances.loc[~test_utterances.text.duplicated(keep='first')]
full_utterances = pd.DataFrame(full_utterances)
full_utterances = full_utterances.loc[~full_utterances.text.duplicated(keep='first')]

In [96]:
train_luis_utterances = pd.DataFrame(train_luis_utterances)
train_luis_utterances = train_luis_utterances.loc[~train_luis_utterances.text.duplicated(keep='first')]
test_luis_utterances = pd.DataFrame(test_luis_utterances)
test_luis_utterances = test_luis_utterances.loc[~test_luis_utterances.text.duplicated(keep='first')]

import json
with open('train_luis_utterances.json','w') as file:
    file.write(train_luis_utterances.to_json(orient='records'))
with open('test_luis_utterances.json','w') as file:
    file.write(test_luis_utterances.to_json(orient='records'))

In [100]:
import json
with open('train_utterances.json','w') as file:
    file.write(train_utterances.to_json(orient='records'))
with open('test_utterances.json','w') as file:
    file.write(test_utterances.to_json(orient='records'))
with open('full_utterances.json','w') as file:
    file.write(full_utterances.to_json(orient='records'))

In [1]:
import os
from azure.core.credentials import AzureKeyCredential
from azure.ai.language.conversations import ConversationAnalysisClient
import cred

# get secrets
clu_endpoint = cred.endpoint
clu_key = cred.credential
project_name = cred.project_name
deployment_name = cred.deployment_name
luis_key = cred.luis_key

In [2]:
client = ConversationAnalysisClient(clu_endpoint, clu_key)
with client:
    query = "Want to go to Paris"
    result = client.analyze_conversation(
        task={
            "kind": "Conversation",
            "analysisInput": {
                "conversationItem": {
                    "participantId": "1",
                    "id": "1",
                    "modality": "text",
                    "language": "en",
                    "text": query
                },
                "isLoggingEnabled": True
            },
            "parameters": {
                "projectName": project_name,
                "deploymentName": deployment_name,
                "verbose": True
            }
        }
    )

In [1]:
import logging
import time
import random
import cred
from datetime import datetime
from opencensus.ext.azure.log_exporter import AzureLogHandler
from opencensus.ext.azure import metrics_exporter
from opencensus.stats import aggregation as aggregation_module
from opencensus.stats import measure as measure_module
from opencensus.stats import stats as stats_module
from opencensus.stats import view as view_module
from opencensus.tags import tag_map as tag_map_module

def configure_logger():
	logger = logging.getLogger(__name__)

	logger.addHandler(AzureLogHandler(
	    connection_string=cred.insights_connection_string)
	)
	return logger

logger = configure_logger()

logger

In [4]:
logger.setLevel('INFO')
logger

In [55]:
try :
    import config               
except ImportError:
    print("import error avoided")

import error avoided

In [37]:
entities_dict = {'budget': 'Budget', 'dst_city': 'Destination City', 'or_city': 'Departure City','str_date': 'Start Date',
'end_date': 'Return Date'}

In [42]:
print([k for k,v in entities_dict.items() if v == "Budgetkl"])

[]

In [4]:
from azure.cognitiveservices.language.luis.authoring import LUISAuthoringClient
from azure.cognitiveservices.language.luis.authoring.models import ApplicationCreateObject
from azure.cognitiveservices.language.luis.runtime import LUISRuntimeClient
from msrest.authentication import CognitiveServicesCredentials
from functools import reduce
import cred

import json, time, uuid

authoring_key = cred.luis_key
authoring_endpoint = cred.luis_endpoint

client = LUISAuthoringClient(authoring_endpoint, CognitiveServicesCredentials(authoring_key))

client

In [139]:
def create_app():
# Create a new LUIS app
    app_name    = "Flybot"
    app_desc    = "LUIS application for integration with Chat Bot."
    app_version = "0.1"
    app_locale  = "en-us"

    app_id = client.apps.add(dict(name=app_name,
                                  initial_version_id=app_version,
                                  description=app_desc,
                                  culture=app_locale))

    print("Created LUIS app {}\n    with ID {}".format(app_name, app_id))
    return app_id, app_version

#app_id, app_version = create_app()

Created LUIS app Flybot
    with ID abb9267a-7180-4658-93ac-7d0c5e4389c3

In [110]:
app_id, app_version = cred.luis_app_id, cred.luis_app_version

In [140]:
intentId = client.model.add_intent(app_id, app_version, "BookFlight")

print("Intent BookFlight {} added.".format(intentId))

Intent BookFlight fdfdd448-a8e5-4aaf-8236-59bfa2aa1415 added.

In [141]:
def create_entities():
    relevant_entities = ['budget','dst_city','or_city','str_date','end_date']
    for ent in relevant_entities:
        entity_id = client.model.add_entity(app_id, app_version, name=ent)
        print("Entity {} added, id : {}".format(ent, entity_id))
create_entities()

Entity budget added, id : d3ffb1fd-2435-4039-aec2-d53da9006892
Entity dst_city added, id : 05c56522-5068-405e-8ee3-ed19421518ee
Entity or_city added, id : cc9c5c6e-93d8-4350-a25c-b560592f6b2d
Entity str_date added, id : 522609e1-512c-4d12-ba09-43f67c9fbbac
Entity end_date added, id : ff0b799d-db5e-4a89-bfc2-e9deb505894d

In [142]:
def feed_utterances(utterances):
    responses = []
    length = len(utterances)
    for i in range(int(length/100)+1):
        if (i+1)*100 > length:
            subset = utterances[i*100:length]
        else:
            subset = utterances[i*100:(i+1)*100]
        
        responses.append(client.examples.batch(app_id, app_version, subset))
    
    return responses
        
responses = feed_utterances(train_luis_utterances)

In [145]:
responses = list(np.concatenate(responses))

len(responses)

6423

In [146]:
def train_app(app_id, app_version):
    response = client.train.train_version(app_id, app_version)
    waiting = True
    while waiting:
        info = client.train.get_status(app_id, app_version)

        # get_status returns a list of training statuses, one for each model. Loop through them and make sure all are done.
        waiting = any(map(lambda x: 'Queued' == x.details.status or 'InProgress' == x.details.status, info))
        if waiting:
            print ("Waiting 10 seconds for training to complete...")
            time.sleep(10)

In [147]:
train_app(app_id,app_version)

Waiting 10 seconds for training to complete...
Waiting 10 seconds for training to complete...
Waiting 10 seconds for training to complete...

In [156]:
#Generating test utterances (limited to 1000)
#Unable to perform testing from the API, generating JSON file and loading it into the LUIS.ai website
#The JSON file has a different format on the luis.ai website than with the REST API, so we have to use a different generator...
test_luis_utterances_web = generate_test_utterances(X_test)[0:999]

#Removing duplicates
test_luis_utterances_web = pd.DataFrame(test_luis_utterances_web)
test_luis_utterances_web = test_luis_utterances_web.loc[~test_luis_utterances_web.text.duplicated(keep='first')]
test_luis_utterances_web

,intent,text,entities
0,None,yes please it sounds like a great package!,[]
1,BookFlight,"hi there, my friends and i would like to go to...","[{'entity': 'dst_city', 'startPos': 47, 'endPo..."
2,BookFlight,yes hi. dublin to osaka,"[{'entity': 'or_city', 'startPos': 8, 'endPos'..."
3,BookFlight,"nice, i'm happy that you're giving me all the ...","[{'entity': 'dst_city', 'startPos': 130, 'endP..."
4,BookFlight,what would be the hotel in santo domingo? what...,"[{'entity': 'dst_city', 'startPos': 27, 'endPo..."
...,...,...,...
994,BookFlight,st. louis,"[{'entity': 'dst_city', 'startPos': 0, 'endPos..."
995,None,nah,[]
996,None,that's a bit too soon for us,[]
997,BookFlight,very well. how about the price for the trip to...,"[{'entity': 'dst_city', 'startPos': 47, 'endPo..."
998,None,i need a higher ranking,[]

In [157]:
import json
with open('test_luis_utterances_red.json','w') as file:
    file.write(test_luis_utterances_web.to_json(orient='records'))

In [136]:
#client.apps.delete(app_id)

In [160]:
def publish_app(app_id, app_version):
    responseEndpointInfo = client.apps.publish(app_id, app_version, is_staging=True)
    print("Application published. Endpoint URL: " + responseEndpointInfo.endpoint_url)
    return responseEndpointInfo.endpoint_url
publish_app(app_id, app_version)

Application published. Endpoint URL: https://westeurope.api.cognitive.microsoft.com/luis/v2.0/apps/abb9267a-7180-4658-93ac-7d0c5e4389c3

In [2]:
import requests
import cred

pred_endpoint = cred.pred_endpoint
pred_key = cred.pred_key
app_id = cred.luis_app_id


def predict(app_id, query, key, endpoint):

        # YOUR-APP-ID: The App ID GUID found on the www.luis.ai Application Settings page.
    appId = app_id

    # YOUR-PREDICTION-KEY: Your LUIS prediction key, 32 character value.
    prediction_key = key

    # YOUR-PREDICTION-ENDPOINT: Replace with your prediction endpoint.
    # For example, "https://westus.api.cognitive.microsoft.com/"
    prediction_endpoint = endpoint

    # The utterance you want to use.
    utterance = query
    ##########

    # The headers to use in this REST call.
    headers = {
    }

    # The URL parameters to use in this REST call.
    params ={
        'query': utterance,
        'timezoneOffset': '0',
        'verbose': 'true',
        'show-all-intents': 'true',
        'spellCheck': 'false',
        'staging': 'true',
        'subscription-key': prediction_key
    }


    # Make the REST call.
    response = requests.get(f'{prediction_endpoint}luis/prediction/v3.0/apps/{appId}/slots/staging/predict', headers=headers, params=params)
    
    return response.json()

request = "Book me a flight from Toronto to Budapest from November 11th to September 24th with a maximum budget of 2400$"

resp = predict(app_id, request, pred_key, pred_endpoint)

resp

{'query': 'Book me a flight from Toronto to Budapest from November 11th to September 24th with a maximum budget of 2400$',
 'prediction': {'topIntent': 'BookFlight',
  'intents': {'BookFlight': {'score': 0.9999933},
   'None': {'score': 6.683073e-06}},
  'entities': {'or_city': ['Toronto'],
   'dst_city': ['Budapest'],
   'str_date': ['November 11th'],
   'end_date': ['September 24th'],
   'budget': ['2400$'],
   '$instance': {'or_city': [{'type': 'or_city',
      'text': 'Toronto',
      'startIndex': 22,
      'length': 7,
      'score': 0.9999525,
      'modelTypeId': 1,
      'modelType': 'Entity Extractor',
      'recognitionSources': ['model']}],
    'dst_city': [{'type': 'dst_city',
      'text': 'Budapest',
      'startIndex': 33,
      'length': 8,
      'score': 0.9998683,
      'modelTypeId': 1,
      'modelType': 'Entity Extractor',
      'recognitionSources': ['model']}],
    'str_date': [{'type': 'str_date',
      'text': 'November 11th',
      'startIndex': 47,
      'length': 13,
      'score': 0.9999333,
      'modelTypeId': 1,
      'modelType': 'Entity Extractor',
      'recognitionSources': ['model']}],
    'end_date': [{'type': 'end_date',
      'text': 'September 24th',
      'startIndex': 64,
      'length': 14,
      'score': 0.9369211,
      'modelTypeId': 1,
      'modelType': 'Entity Extractor',
      'recognitionSources': ['model']}],
    'budget': [{'type': 'budget',
      'text': '2400$',
      'startIndex': 104,
      'length': 5,
      'score': 0.9471219,
      'modelTypeId': 1,
      'modelType': 'Entity Extractor',
      'recognitionSources': ['model']}]}}}}

In [16]:
resp['query']

'Book me a flight from Toronto to Budapest from November 11th to September 24th with a maximum budget of 2400$'

In [36]:
entity_resp = pd.DataFrame.from_dict(resp['prediction'])[['entities']]

entity_resp = entity_resp.loc[np.isin(entity_resp.index, relevant_entities)]

def get_first(entity):
    return entity[0]

entity_resp['entities'] = entity_resp['entities'].apply(get_first)

query = resp['query']

entity_resp

                entities
or_city          Toronto
dst_city        Budapest
str_date   November 11th
end_date  September 24th
budget             2400$

In [35]:
{**entity_resp.to_dict()['entities'], **{'query': 'text'}}

{'or_city': 'Toronto',
 'dst_city': 'Budapest',
 'str_date': 'November 11th',
 'end_date': 'September 24th',
 'budget': '2400$',
 'query': 'text'}

In [26]:
{**entity_resp.to_dict(), **{'test':'test'}}

{'entities': {'or_city': 'Toronto',
  'dst_city': 'Budapest',
  'str_date': 'November 11th',
  'end_date': 'September 24th',
  'budget': '2400$'},
 'test': 'test'}

In [215]:
for index, row in entity_resp.iterrows():
    print(index, row['entities'])

or_city Toronto
dst_city Budapest
str_date November 11th
end_date September 24th
budget 2400$

In [198]:
for r in resp['prediction']['entities']:
    if r != "$instance":
        print(resp['prediction']['entities'][r][0])
        print(r)

Toronto
or_city
Budapest
dst_city
November 11th
str_date
September 24th
end_date
2400$
budget

In [3]:
 entities = pd.DataFrame([{'entites': 'Toronto'}, {'entites': 'Budapest'},
            {'entites': 'November 11th'}], index=['or_city','dest_city','str_date'])
    
entities

                 entites
or_city          Toronto
dest_city       Budapest
str_date   November 11th

In [5]:
entities.index.to_list()

['or_city', 'dest_city', 'str_date']

In [3]:
import os
import pandas as pd
import cred
from datetime import datetime, timezone
from azure.monitor.query import LogsQueryClient, LogsQueryStatus
from azure.identity import DefaultAzureCredential
from azure.core.exceptions import HttpResponseError

credential = DefaultAzureCredential()
client = LogsQueryClient(credential)

query = """trace | take 5"""

start_time=datetime(2022, 11, 20, tzinfo=timezone.utc)
end_time=datetime(2022, 11, 24, tzinfo=timezone.utc)

try:
    response = client.query_workspace(
        workspace_id=cred.insights_id,
        query=query,
        timespan=(start_time, end_time)
        )
    if response.status == LogsQueryStatus.PARTIAL:
        error = response.partial_error
        data = response.partial_data
        print(error.message)
    elif response.status == LogsQueryStatus.SUCCESS:
        data = response.tables
    for table in data:
        df = pd.DataFrame(data=table.rows, columns=table.columns)
        print(df)
except HttpResponseError as err:
    print("something fatal happened")
    print (err)

something fatal happened
(WorkspaceNotFoundError) The workspace could not be found
Code: WorkspaceNotFoundError
Message: The workspace could not be found

In [12]:
client.query_workspace.__code__.co_varnames

('args',
 'kwargs',
 'merge_span',
 'passed_in_parent',
 'span_impl_type',
 'name',
 'span',
 'key',
 'value')

In [14]:
import inspect

inspect.getfullargspec(client.query_workspace)

FullArgSpec(args=[], varargs='args', varkw='kwargs', defaults=None, kwonlyargs=[], kwonlydefaults=None, annotations={'return': typing.Union[azure.monitor.query._models.LogsQueryResult, azure.monitor.query._models.LogsQueryPartialResult], 'kwargs': typing.Any})

In [5]:
import requests

insights_app_id = cred.insights_id
url = f"https://api.loganalytics.io/v1/apps/{insights_app_id}/query"

payload ="{\"query\": \"traces | take 5\"}"
headers = {
  'x-api-key': cred.insights_key,
  'Content-Type': 'application/json'
}

response = requests.request("POST", url, headers=headers, data = payload)

In [10]:
import json
data = response.json()['tables'][0]
#Removing column types and keeping only column names
columns = [k['name'] for k in data['columns']]

#Creating a dataframe from our response
df = pd.DataFrame(data = data['rows'], columns=columns)

#Transforming the customdimensions column from a string to a dictionnary with json.loads
df['customDimensions'] = df.customDimensions.apply(json.loads)

#Exploding the dictionary and joining with the base dataframe
df = df.join(pd.json_normalize(df.pop('customDimensions')))

#Dropping duplicates because info level logs from the Python SDK are duplicated in Azure Insights (known issue) 
df = df.drop_duplicates(subset=['timestamp'], keep='first')

df

,timestamp,message,severityLevel,itemType,customMeasurements,operation_Name,operation_Id,operation_ParentId,operation_SyntheticSource,session_Id,...,module,fileName,lineNumber,level,query,or_city,dst_city,budget,end_date,str_date
0,2022-11-23T09:40:46.792352Z,Predicted Information,1,trace,None,,00000000000000000000000000000000,0000000000000000,,,...,user_profile_dialog,/mnt/c/0. Files/1. WIP/2. Data Analysis/Opencl...,133,INFO,I want to from Paris to Tokyo thank you,Paris,Tokyo thank,NaN,NaN,NaN
2,2022-11-23T09:41:10.436652Z,Predicted Information,1,trace,None,,00000000000000000000000000000000,0000000000000000,,,...,user_profile_dialog,/mnt/c/0. Files/1. WIP/2. Data Analysis/Opencl...,262,INFO,"My max budget is 156$, my departure date is to...",NaN,NaN,156,24th November,24th November
4,2022-11-22T12:05:07.622724Z,Several Wrong Info,2,trace,None,,00000000000000000000000000000000,0000000000000000,,,...,user_profile_dialog,/mnt/c/0. Files/1. WIP/2. Data Analysis/Opencl...,200,WARNING,I want to go from Paris to NY,Paris,NY,NaN,NaN,NaN